<!DOCTYPE html>

<html ng-app="dft">
<head>
    <title>tests</title>
{{>head_stuff}}
<body>
{{>nav}}
	{{>noscript}}
	<main>
		{{{body}}} 
	</main>
<footer>
	{{>footer}}
</footer>
{{>end_scripts}}
</body>
</html>