/* line 20, ../scss/partials/_base.scss */
html {
  font-size: 62.5%;
  color: black;
}

/* line 24, ../scss/partials/_base.scss */
body {
  background: white;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  padding: 50px;
}

/* line 32, ../scss/partials/_base.scss */
a {
  text-decoration: none;
  transition: all 1s;
}
/* line 36, ../scss/partials/_base.scss */
a:hover {
  transition: all 1s;
}

/* line 40, ../scss/partials/_base.scss */
ul, li {
  list-style-type: none;
}

/* line 43, ../scss/partials/_base.scss */
ul, h1, h2, h3, h4, h5, h6, ul, li, ol, p, hr, figure, figcaption, blockquote, menu, dir, dl, dt, dd, defs, details, summary, form, fieldset, input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
  -moz-padding-before: 0;
  -moz-padding-after: 0;
  -ms-margin-before: 0;
  -ms-margin-after: 0;
  -ms-margin-start: 0;
  -ms-margin-end: 0;
  -ms-padding-start: 0;
  -ms-padding-end: 0;
  -ms-padding-before: 0;
  -ms-padding-after: 0;
  -o-margin-before: 0;
  -o-margin-after: 0;
  -o-margin-start: 0;
  -o-margin-end: 0;
  -o-padding-start: 0;
  -o-padding-end: 0;
  -o-padding-before: 0;
  -o-padding-after: 0;
}

/* line 81, ../scss/partials/_base.scss */
header h1 {
  font-weight: 300;
}

/* line 84, ../scss/partials/_base.scss */
figure {
  display: block;
}

/* line 88, ../scss/partials/_base.scss */
strong {
  font-weight: 900;
}

/* line 3, ../scss/partials/_meta.scss */
body {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 9, ../scss/partials/_meta.scss */
.meta_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 20px 0;
  z-index: 2;
}
/* line 16, ../scss/partials/_meta.scss */
.meta_nav ul {
  margin: auto;
  display: flex;
}
/* line 19, ../scss/partials/_meta.scss */
.meta_nav ul li {
  flex: 1;
}
/* line 21, ../scss/partials/_meta.scss */
.meta_nav ul li a {
  padding: 10px 0;
  background: rgba(213, 249, 247, 0.91);
}
/* line 28, ../scss/partials/_meta.scss */
.meta_nav > ul {
  flex-direction: row;
}

/* line 33, ../scss/partials/_meta.scss */
.nav_category {
  padding: 15px 0 0  0;
  position: relative;
  text-align: center;
}
/* line 37, ../scss/partials/_meta.scss */
.nav_category > div {
  padding: 10px 0;
}
/* line 40, ../scss/partials/_meta.scss */
.nav_category, .nav_category * {
  -webkit-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
  -moz-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
  -ms-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
  -o-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s;
  transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
}
/* line 48, ../scss/partials/_meta.scss */
.nav_category:hover * {
  -webkit-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
  -moz-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
  -ms-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
  -o-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
  transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
}
/* line 55, ../scss/partials/_meta.scss */
.nav_category:hover > div {
  background: rgba(51, 233, 225, 0.5);
  padding: 10px 0;
}
/* line 60, ../scss/partials/_meta.scss */
.nav_category:hover .sub_nav {
  visibility: visible;
  opacity: 1.0;
  top: 0px;
  position: relative;
  height: auto;
}

/* line 70, ../scss/partials/_meta.scss */
.sub_nav {
  flex: 1;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  opacity: 0.0;
  top: -120px;
  height: 0;
}
/* line 78, ../scss/partials/_meta.scss */
.sub_nav a {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
}

/* line 86, ../scss/partials/_meta.scss */
main {
  position: relative;
  top: 100px;
  z-index: 1;
}

/* line 93, ../scss/partials/_meta.scss */
#template {
  max-width: 126rem;
  margin: auto;
}
/* line 96, ../scss/partials/_meta.scss */
#template > fieldset {
  margin: 10px 0;
  padding: 10px;
}
/* line 99, ../scss/partials/_meta.scss */
#template > fieldset > legend {
  font-size: 5rem;
  margin: auto;
}

/* line 105, ../scss/partials/_meta.scss */
input[type=checkbox], input[type=radio] {
  padding: 20px;
  margin: 20px 20px 20px 0;
  flex: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
/* line 112, ../scss/partials/_meta.scss */
input[type=checkbox]:checked, input[type=radio]:checked {
  background: rgba(25, 25, 25, 0.5);
}

/* line 119, ../scss/partials/_meta.scss */
fieldset {
  border: 0px;
}
/* line 121, ../scss/partials/_meta.scss */
fieldset > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* line 131, ../scss/partials/_meta.scss */
legend {
  font-size: 2.5rem;
  font-family: raleway;
}

/* line 135, ../scss/partials/_meta.scss */
label {
  flex: 1;
}

/* line 140, ../scss/partials/_meta.scss */
.file_name {
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.5rem;
}
/* line 144, ../scss/partials/_meta.scss */
.file_name label {
  margin: 1.5rem 0;
}
/* line 147, ../scss/partials/_meta.scss */
.file_name input {
  margin: 1.5rem 0 3rem 0;
  padding: 1rem;
  font-size: 2rem;
}

/* line 156, ../scss/partials/_meta.scss */
select {
  align-content: space-around;
  align-items: stretch;
  display: flex;
  font: normal normal 800 2rem "Helvetica Neue";
  padding: 10px;
  justify-content: space-around;
  -webkit-appearance: none;
}

/* line 165, ../scss/partials/_meta.scss */
#testor {
  position: relative;
  display: none;
}
/* line 169, ../scss/partials/_meta.scss */
#testor select {
  background: none;
  position: relative;
  z-index: 2;
}
/* line 174, ../scss/partials/_meta.scss */
#testor span {
  display: block;
  font: normal normal 900 3rem "Helvetica Neue";
  right: 2rem;
  top: 25%;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(90deg) translate(-25%);
  -moz-transform: rotate(90deg) translate(-25%);
  -ms-transform: rotate(90deg) translate(-25%);
  -o-transform: rotate(90deg) translate(-25%);
  transform: rotate(90deg) translate(-25%);
}

/* line 5, ../scss/style.scss */
.hide {
  opacity: 0.0  !important;
}

/* line 8, ../scss/style.scss */
.show {
  opacity: 1.0 !important;
}

/* line 11, ../scss/style.scss */
.remove {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */