$hover-color: rgba(51, 233, 225, 0.5);
$link-overlay-color: rgba(213, 249, 247, 0.91);
body{
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.meta_nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 20px 0;
	z-index: 2;
	ul{
		margin: auto;
		display: flex;
		li{
			flex: 1;
			a{
				padding: 10px 0;
				background: $link-overlay-color;
			}
		}

	}
	>ul {
		flex-direction: row;
	}

}
.nav_category{
	padding: 15px 0 0  0;
	position: relative;
	text-align: center;
	> div{
		padding: 10px 0;
	}
	&, * {
		-webkit-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
		-moz-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
		-ms-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
		-o-transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s;
		transition: top 0.5s, left 0.5s, background 0.7s, width 0.5s, height 1s, position 1s;
	}
	&:hover{
		*{
			-webkit-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
			-moz-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
			-ms-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
			-o-transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
			transition: top 0.5s, left 0.2s, background 0.3s, width 0.3s;
		}
		>div{
			background: $hover-color;
			padding: 10px 0;
		}
		
		.sub_nav{
			visibility: visible;
			opacity: 1.0;
			top: 0px;
			position: relative;
			height: auto;
			
		}
	}
}
.sub_nav{
	flex: 1;
	flex-direction: column;
	position: absolute;
	visibility: hidden;
	opacity: 0.0;
	top: -120px;
	height: 0;
	a{
		width: 100%;
		display: inline-flex;
		align-items: baseline;
		justify-content: center;
	}
}

main{
	position: relative;
	top: 100px;
	z-index: 1;
}


#template {
	max-width: 126rem;
	margin: auto;
	> fieldset{
		margin: 10px 0;
		padding: 10px ;
		> legend{
			font-size: 5rem;
			margin: auto;
		}
	}
}
input[type=checkbox], input[type=radio]{
	padding: 20px;
	margin: 20px 20px 20px 0;
	flex: none;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	&:checked{
		background: rgba(25, 25, 25, 0.5);
	}
}



fieldset {
	border: 0px;
	>div{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
}

input[type="checkbox"] {

}
legend {
	font-size: 2.5rem;
	font-family: raleway;
}
label {
	flex: 1;
}


.file_name {
	flex-direction: column;
	align-items: flex-start;
	font-size: 2.5rem;
	label{
		margin: 1.5rem 0;
	}
	input{
		margin: 1.5rem 0 3rem 0;
		padding: 1rem;
		font-size: 2rem;
	}
	
	
}

select {
	align-content: space-around;
	align-items: stretch;
	display: flex;
	font: normal normal 800 2rem "Helvetica Neue";
	padding: 10px;
	justify-content: space-around;
	-webkit-appearance: none;
}
#testor{
	position: relative;
	//display: inline-block;
	display: none;
	select{
		background: none;
		position: relative;
		z-index: 2;
	}
	span{
		display: block;
		font: normal normal 900 3rem "Helvetica Neue";
		right:2rem;
		top: 25%;
		position: absolute;
		z-index: 1;
		-webkit-transform: rotate(90deg) translate(-25%);
		-moz-transform: rotate(90deg) translate(-25%);
		-ms-transform: rotate(90deg) translate(-25%);
		-o-transform: rotate(90deg) translate(-25%);
		transform: rotate(90deg) translate(-25%);
	}
	
}